<div id="home">
  <nav id="nav">
    <a href="/closet">Closet</a>
    <a href="/outfits">Outfits</a>
    <a href="/shirts">Shirts</a>
    <a href="/legwear">Legwear</a>
    <a href="/footwear">Footwear</a>
  </nav>
  {{#ifEquals url "/closet"}}
    {{> closet}}
  {{/ifEquals}}

  {{#ifEquals url "/outfits"}}
    {{> outfits}}
  {{/ifEquals}}

  {{#ifEquals url "/shirts"}}
    {{> shirts}}
  {{/ifEquals}}

  {{#ifEquals url "/legwear"}}
    {{> legwear}}
  {{/ifEquals}}

  {{#ifEquals url "/footwear"}}
    {{> footwear}}
  {{/ifEquals}}
</div>