<div id="home">
  <nav>
    <h1 class="logo">Wear Me</h1>
    <a href="/home/closet">Closet</a>
    <a href="/home/outfits">Outfits</a>
    <a href="/home/shirts">Shirts</a>
    <a href="/home/legwear">Legwear</a>
    <a href="/home/footwear">Footwear</a>
    <button id="logout" type="button">Logout</button>
  </nav>
  {{> (lookup . 'partial') }}
</div>