
<h1>
  {{name}}
</h1><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>WearMe Logged In</title>
</head>

<body>
    <header id="main-header">
            <h1>WearMe</h1>
    </header>
    
    <div class="sidenav">
        <ul>
            <li class="mc"><h2>My Collection</h2></li>
            <li><h2>Tops</h2></li>
            <li><h2>Bottoms</h2></li>
            <li><h2>Accesories</h2></li>
            <li><h2>Outfits</h2></li>
        </ul>
    </div>

    <div class="main-container">
        <h1>Welcome Back, User! </h1>
    </div>

    <div class="clothing-render">
        
    </div>

    <footer class="footer2">
        <h3>Made with 游비 by Group7</h3><br>
        <h3>游비Gale 游비Michael 游비Ethan 游비Jean 游비Sunny 游비Cody</h3>
    </footer>