
    <header id="main-header">
            <h1>WearMe</h1>
    </header>

    <div class="sidenav">
    </div>

    <div class="loginbox">
        <form id="loginForm">
            <div>
                <h1 id="login">Hey There!</h1>
            </div>

            <div class="logincontainer">
                <label for="username" id="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required><br>
                <br>

                <label for="psw" id="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required><br>
                <br>

                <button type="submit">Login</button><br>
                <br>
                
                <label id="remember">
                    <input type="checkbox" checked="checked" name="remember">Remember Me
                </label>
                <span class="psw" id="forgot">Forgot password?</span>
            </div>
        </form>
    </div>


   
