*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #FDEEDC;
}

#main-header {
    font-family: Rochester;
    font-size: 35px;
    color: #DF7861;
    
}

#main-header h1 {
    border-bottom: solid 5px #E28B29;
    margin-left: 10px;
    font-family: Rochester;
    font-size: 75px;
    color:#DF7861;
}

.headerimg {
    float: right;
}

/* Html page 2 */
.sidenav {
    margin-top: 148px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #DF7861;
    overflow: hidden;
    padding-top: 200px;

}

/* Html page 2 */
.mc {
    color: #FDEEDC;
    font-size: 25px;
}

/* Html page 2 */
.sidenav ul li {
    padding: 6px 8px 6px 0px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-family: Rochester;
}

/* #navbar {
    padding-top: 0px;
    text-align: right;
    font-size: 20px;
    color: #DF7861;
}

#navbar div ul li {
    list-style: none;
    margin: 0 50px 0 0;
    display: inline-block;
} */

.loginbox {
    width: 35%;
    height: 500px;
    margin: 100px 0 100px 450px;
    background-color: #DF7861;
}

#login {
    padding-top: 65px;
    margin-left: 165px;
    font-family: Rochester;
    font-size: 50px;
}

/* html page 2 */
.main-container {
    width: 60%;
    height: 700px;
    margin: 100px 0 100px 450px;
   
}

.main-container h1 {
    padding-top: 85px;
    margin-left: 1px;
    font-family: Rochester;
    color: #C39898;
    font-size: 85px;
}

#username, #psw {
    margin-left: 55px;
    color: black;
    font-size: 30px;
    font-family: Rochester;

}

button {
    margin: 20px 0 0 120px;
    width: 50%;
    background: #FDEEDC;
    height: 35px;
    font-family: Rochester;
    font-size: 20px;
}


#remember, #forgot {
    margin-top: 50px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#forgot {
    margin-right: 10px;
    float: right;
}

footer h3 {
    text-align: center;
}

.footer2 {
    margin-left: 125px;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
    }

    .loginbox {
        width: 100%;
    }
}